Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.3.0'

mdBook:
  name: Build docs if mdBook is installed
  language: system
  entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
  pass_filenames: false

docs(walrus-sites): add staking object references to installation documentation (#2198)
  docs/book/walrus-sites/tutorial-install.md
Due: mdBook

docs(walrus-sites): add 'deploy' command docs (#2102)
  docs/book/walrus-sites/commands.md
  docs/book/walrus-sites/routing.md
  docs/book/walrus-sites/tutorial-publish.md
Due: mdBook

fix: Rename the metric label to prevent conflict (#2210)
  crates/walrus-sui/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: use rust-cache for slow test and simtest jobs (#2209)
  .github/workflows/code.yml
Due: none

docs: add operator guide for governance and commission (#2212)
  docs/book/SUMMARY.md
  docs/book/operator-guide/commission-governance.md
  docs/book/operator-guide/operator-guide.md
  docs/book/operator-guide/storage-node.md
Due: mdBook

fix: use a guard to ensure active request gauge decrements (#2214)
  crates/walrus-service/src/common/telemetry.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add metric to track number of blocklisted blobs (#2207)
  Cargo.lock
  crates/walrus-sdk/src/blocklist.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): minor improvements to the health command (#2213)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: limit max recovery symbol requests (#2215)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: race condition between node entering recovery mode and start blob sync (#2216)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: implement new subsidy contract (#2192)
  contracts/subsidies/sources/subsidies.move
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/committee.move
  contracts/walrus/sources/staking/staking_inner.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_runner.move
  contracts/walrus/tests/test_utils.move
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  contracts/walrus_subsidies/sources/epoch_balance.move
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test, move-format

fix: add zero bucket to recovery future metrics (#2218)
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): correct status checks when reading (#2205)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor(sdk): replace `StoreWhen` enum by `StoreOptimizations` struct (#2220)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/store_optimizations.rs
  crates/walrus-sdk/src/store_when.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt client part iii (#2206)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/error.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: log CF name when access panic happens (#2221)
  crates/typed-store/src/rocks.rs
  docker/walrus-antithesis/build-test-config-image/files/run-walrus.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: DB tuning (#2223)
  crates/typed-store/src/rocks.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: reduce default recovery symbol request timeout (#2225)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: fix variable names. (#2230)
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/node_config_example.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: do not unwind non-panic error (#2228)
  crates/typed-store/src/rocks/errors.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/storage/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Allow updating logging verbosity dynamically at runtime (#1829)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add walrus extend docs to book (#2235)
  docs/book/usage/client-cli.md
Due: mdBook

feat: Refactor event processing code (#2152)
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/config.rs
  crates/walrus-service/src/backup/models.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/common.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event.rs
  crates/walrus-service/src/event/event_blob.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor.rs
  crates/walrus-service/src/event/event_processor/bootstrap.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/event/event_processor/metrics.rs
  crates/walrus-service/src/event/event_processor/package_store.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/event_processor/runtime.rs
  crates/walrus-service/src/event/events.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(system): adds protocol version event (#2208)
  contracts/walrus/Move.lock
  contracts/walrus/docs/msg_formats.txt
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/messages.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/e2e_tests.move
  contracts/walrus/tests/system/deny_list_tests.move
  contracts/walrus/tests/test_node.move
  crates/walrus-core/src/messages.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

fix: observe_response_body_size records to response_body_size_bytes (#2234)
  crates/walrus-storage-node-client/src/client/middleware.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: move the creation of the recovery symbol to a blocking thread (#2238)
  crates/walrus-service/src/node/recovery_symbol_service.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: walrus 1.29 version bump (#2241)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add serde default in Http2Config (#2240)
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui to v1.51.1 (#2243)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix: handling accessing shard db after shard removal (#2237)
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt client: CLI (#2197)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/responses.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt aggregator (#2222)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/common/api.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: added restore (#2187)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/errors.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: check that shard sync progress is cleared after sync finishes (#2249)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: replace base image to internal one to avoid rate limits (#2250)
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-proxy/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
Due: none

chore: blob sync handles recover sliver cancellation (#2251)
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: use internal registry for Docker image (#2256)
  .editorconfig
  docker/walrus-antithesis/build-test-config-image/Dockerfile
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
Due: none

fix: Pass ending blob checkpoint instead of event index (#2258)
  crates/walrus-service/src/event/event_processor/catchup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: ensure that objects can only be migrated after epoch change (#2244)
  contracts/subsidies/Move.lock
  contracts/subsidies/sources/subsidies.move
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  contracts/walrus_subsidies/Move.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
  mdBook: any of: book.toml|docs/.*
