Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

fix: Recreate rpc client on extended failure and fallback to archive (#1962)
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/retry_client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update all aggregators and publishers (#1946)
  docs/book/assets/operators.json
Due: mdBook

chore: leverage RetriableSuiClient for reference gas price (#1969)
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: widen the compile-time interface of with_failover (#1972)
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add docs on the authenticated publisher (#1905)
  crates/walrus-service/src/client/cli/args.rs
  docs/book/SUMMARY.md
  docs/book/operator-guide/aggregator.md
  docs/book/operator-guide/auth-publisher.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook

refactor: remove legacy recovery symbols logic (#1976)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: added logs for event db write options. (#1971)
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: refactor pair into struct for failover clients (#1970)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client.rs
  docs/book/walrus-sites/tutorial-publish.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook

feat: improve health command (#1973)
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add an option to request additional symbols from the beginning during sliver recovery (#1974)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow looking up shared blobs by their object ID (#1960)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/read_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: test contract upgrades from previous contract version (#1959)
  contracts/README.md
  contracts/subsidies/sources/subsidies.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(client): fixed generation of a new wallet at default path (#1943)
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook

fix(client): prevent panic in genesis epoch (#1948)
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): change `NodeResult` to normal struct from tuple struct (#1861)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Fix attaching binaries to new releases (#1989)
  .github/workflows/attach-binaries-to-release.yml
  .github/workflows/create-release.yml
Due: none

fix: epoch shard assignment should always use node `event_epoch` rather than the epoch from the event (#1990)
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/types/events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: use ref_name (#1993)
  .github/workflows/attach-binaries-to-release.yml
Due: none

refactor: make modules for retriable_*_clients (#1991)
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Walrus v1.22.0 Version Bump (#1995)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: config sui client request timeout (#1987)
  Cargo.lock
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/config/communication_config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/Cargo.toml
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/utils.rs
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: clean up around process_events function (#1994)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add a "crumb" macro to walrus_utils for help in debugging (#2000)
  .github/workflows/lint.yml
  crates/walrus-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: mention that shared blob object ids can be used to retrieve blob (#2005)
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-sui/src/client/read_client.rs
  docs/book/usage/web-api.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook

feat: optimize call to reserve storage for multiple blobs (#2004)
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: make mainnet-contracts/*/Move.* correspond to deployed version (#1983)
  mainnet-contracts/subsidies/Move.lock
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/Move.lock
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/walrus/Move.lock
  mainnet-contracts/walrus/Move.toml
  mainnet-contracts/walrus/sources/staking/staking_inner.move
Due: taplo-format, move-test

chore: add gas cost benchmark for contracts (#2001)
  .gitignore
  crates/walrus-core/src/messages.rs
  crates/walrus-core/src/messages/certificate.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
  scripts/plot_contract_cost.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: minor reformulations in WS intro (#1874)
  docs/book/walrus-sites/intro.md
Due: mdBook

feat: add getters to SharedBlob (#1999)
  contracts/walrus/sources/system/shared_blob.move
Due: move-test, move-format

docs: clean up links in old blog posts (#2011)
  book.toml
  docs/book/blog/00_intro.md
  docs/book/blog/01_announcing_walrus.md
  docs/book/blog/02_devnet_update.md
  docs/book/blog/03_whitepaper.md
  docs/book/blog/04_testnet_update.md
  docs/book/blog/05_testnet_redeployment.md
Due: taplo-format, mdBook

feat(publisher): allow blob sharing from put_blob (#2009)
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: correctly link to MD files (#1964)
  docs/book/walrus-sites/builder-config.md
  docs/book/walrus-sites/tutorial-install.md
  docs/book/walrus-sites/tutorial-publish.md
Due: mdBook

docs: alphabetize glossary and add missing terms (#1978)
  docs/book/glossary.md
Due: mdBook

docs: Added some more docs for publisher (#2014)
  docs/book/operator-guide/aggregator.md
Due: mdBook

docs: add a JS example to read the system object data (#1867)
  docs/examples/javascript/README.md
  docs/examples/javascript/system_stats.html
Due: mdBook

docs: improvements in CONTRIBUTING.md (#2018)
  CONTRIBUTING.md
Due: none

feat: introduce RPC failover mechanics to the RetriableSuiClient (#1981)
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/utils.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade to rust edition 2024 (#2007)
  .rustfmt.toml
  Cargo.toml
  crates/walrus-sdk/src/config/committees_refresh_config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/blob.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-test-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): log warning for old clients (#2019)
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/client.rs
  crates/walrus-service/build.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): add `walrus completion` command (#2003)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/client.rs
  crates/walrus-service/src/client/cli/args.rs
  docs/book/usage/client-cli.md
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook
