Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

chore: add github action to create transactions for multisig (#2136)
  .github/workflows/create-tx-for-multisig.yml
  scripts/create_multisig_tx.sh
Due: none

chore: add to CONTRIBUTING (#2144)
  CONTRIBUTING.md
Due: none

feat: allow SafeIter to seek to a specific key (#2112)
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: RocksDB tuning (#2131)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove deprecated status for get_rpc_url (#2145)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: checkpoint Walrus RocksDB database (#2020)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/lib.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/errors.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt encoding part ii (#2105)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: update commands for contract upgrades (#2140)
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/system_setup.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: rate limit concurrent blob recovery during node recovery (#2159)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-e2e-tests/tests/test_event_blobs.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-service/tests/epoch_change.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: address flaky test_blocklist (#2163)
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore(docs): update links in privacy policy (#2156)
  docs/book/legal/privacy.md
Due: mdBook

docs(walrus-sites): add a note for browsing options of a ws on testnet (#2153)
  docs/book/walrus-sites/tutorial-publish.md
Due: mdBook

docs: describe coding conventions (#2167)
  CONTRIBUTING.md
Due: none

chore: update markdownlint and address new findings (#2157)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  CONTRIBUTING.md
  docs/book/blog/01_announcing_walrus.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  docs/book/usage/web-api.md
Due: mdBook

feat: Quilt client part I (#2147)
  Cargo.lock
  Cargo.toml
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: fix windows nexttest installation (#2170)
  .github/workflows/attach-binaries-to-release.yml
Due: none

chore: mainnet upgrade for subsidies contract (#2165)
  mainnet-contracts/subsidies/sources/subsidies.move
  mainnet-contracts/walrus/Move.lock
Due: move-test

chore: remove redundant semaphore used in node recovery (#2162)
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: update yamlfmt and use same version in CI (#2166)
  .github/workflows/create-release-announce.yml
  .github/workflows/lint.yml
  .github/workflows/update-operators-cache.yml
  .pre-commit-config.yaml
  .yamlfmt.yml
Due: none

chore: remove the old RaptorQ-based encoding (#2138)
  Cargo.lock
  Cargo.toml
  crates/walrus-core/Cargo.toml
  crates/walrus-core/benches/basic_encoding.rs
  crates/walrus-core/benches/blob_encoding.rs
  crates/walrus-core/src/by_axis.rs
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-core/src/encoding/basic_encoding/raptorq.rs
  crates/walrus-core/src/encoding/basic_encoding/reed_solomon.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/common.rs
  crates/walrus-core/src/encoding/config.rs
  crates/walrus-core/src/encoding/mapping.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/encoding/slivers.rs
  crates/walrus-core/src/encoding/symbols.rs
  crates/walrus-core/src/encoding/utils.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/responses.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: ignore some long-running tests by default (#2172)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/src/node.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Move generate_random_data to test_utils. (#2173)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-test-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): add a ci-cd section with an example gh action (#2117)
  docs/book/SUMMARY.md
  docs/book/walrus-sites/ci-cd.md
Due: mdBook

ci: fix release generation (#2174)
  Cargo.lock
  scripts/release_notes.py
Due: cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Make rpc client fallback on single checkpoint failures (#2143)
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client/metrics.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/download_handler.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): set latest_event_epoch correctly when restarting recovery (#2179)
  crates/walrus-service/src/node/node_recovery.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add test coverage of node restart during recovery (#2180)
  Cargo.lock
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: non-blocking event processing (#2177)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: flaky sync_shard_recovery_metadata_restart (#2184)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): correct checkpoint lag computation and more robust conversion (#2188)
  crates/checkpoint-downloader/src/downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: quilt encoding part iii (#2146)
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/metadata.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Enable recovery from local node forking of event blobs (#2046)
  Cargo.lock
  crates/walrus-service/src/common/event_blob_downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_blob.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add release create for devnet (#2194)
  .github/workflows/create-release-announce.yml
Due: none

ci: 1.28 version bump (#2195)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: added list-db-checkpoint command. (#2191)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump sui version to testnet-v1.50.1 (#2196)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/system_setup.rs
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix: Disabled Admin tool for Windows. (#2199)
  crates/walrus-service/bin/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt client part ii (#2171)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: added tags in QuiltIndexV1. (#2202)
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-test-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
