Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

chore: combination of a few unrelated chores (#2021)
  .github/workflows/lint.yml
  .pre-commit-config.yaml
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: move load_from_yaml in to walrus_utils (#2024)
  Cargo.lock
  crates/walrus-sdk/src/config.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Walrus v1.24.0 Version Bump (#2026)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: update WS workflows with new site-builder functionality (#2016)
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
Due: none

feat: add detailed metrics for recovering slivers (#1977)
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: include gas price in gas cost benchmark (#2023)
  crates/walrus-sui/benches/gas_cost_bench.rs
  scripts/plot_contract_cost.py
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: simtest improvements: add event fail points to trigger node crash, and use checkpoint based event processor in all simtests (#2033)
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump Sui to testnet-v1.47.0 (#2013)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  deny.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix: fix deadlock when creating checkpoint downloader when lag is high (#2036)
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/lib.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: initialize metrics in RetriableRpcClient and mysten_metrics (#2035)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): do not create transactions with more than 256 gas coins (#2006)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(publisher): add force and refactor query API (#2015)
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/routes.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Improvements to checkpoint downloader (#2037)
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Walrus v1.25.0 Version Bump (#2040)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: increase request duration histogram range (#2031)
  crates/walrus-rest-client/src/client/middleware.rs
  crates/walrus-service/src/common/telemetry.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Optimize Storage Selection Algorithm for Batch Blob Operations (#2010)
  crates/walrus-sdk/src/client/resource.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: enhance logging around Client::force_refresh_committees (#2048)
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): correctly set node_id metric (#2050)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: remove mysten_metrics initialization (#2054)
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: ignore GH links during linkcheck (#2059)
  book.toml
Due: taplo-format, mdBook

test: retry storing metadata during cluster creation (#2060)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: limit concurrent requests sent to remote nodes (#2032)
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/request_futures.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add sampled logging feature (#2041)
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update ws-resources documentation with the addition of the ignore field (#2058)
  docs/book/walrus-sites/routing.md
Due: mdBook

fix: e2e test race condition (#2028)
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add typed store and derive crate to walrus repo (#2063)
  .licensesnipignore
  Cargo.lock
  Cargo.toml
  crates/typed-store-derive/Cargo.toml
  crates/typed-store-derive/src/lib.rs
  crates/typed-store/Cargo.toml
  crates/typed-store/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
  crates/typed-store/tests/macro_tests.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: add warning to PRs that modify the CLI (#2064)
  .github/actions/diffs/action.yml
  .github/workflows/code.yml
Due: none

feat: blob sliver data existence check (#1997)
  .pre-commit-config.yaml
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: bump version of all Sui dependencies to v1.48.0 testnet release (#2062)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/typed-store/Cargo.toml
  crates/typed-store/src/rocks.rs
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

ci: Walrus v1.26.0 version bump (#2068)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): make path optional in wallet config (#2065)
  Cargo.lock
  crates/walrus-sdk/src/config.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/config.rs
  setup/client_config.yaml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): allow setting Sui RPC URLs in client config (#2066)
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
  setup/client_config_testnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: don't overwrite configured metrics and REST API addresses (#1630)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/common/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: make sampled blob selection deterministic based on epoch in sliver consistency check (#2069)
  crates/walrus-service/src/node/consistency_check.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: clean up functionalities in typed-store that is unrelated to Walrus (#2070)
  .licensesnipignore
  Cargo.lock
  Cargo.toml
  crates/typed-store-derive/Cargo.toml
  crates/typed-store-derive/src/lib.rs
  crates/typed-store/Cargo.toml
  crates/typed-store/src/lib.rs
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/errors.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/typed-store/src/rocks/tests.rs
  crates/typed-store/src/traits.rs
  crates/typed-store/tests/macro_tests.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): increase limit for number of pending accept reset streams (#2072)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Add timeout to the call checking for rest endpoint (#2074)
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: replace deprecated #[clap(...)] with #[command(...)] and #[arg(...)] (#2076)
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
