Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.3.0'

mdBook:
  name: Build docs if mdBook is installed
  language: system
  entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
  pass_filenames: false

docs: update the sites configuration (#2373)
  docs/book/walrus-sites/tutorial-install.md
Due: mdBook

chore: prepare mainnet contracts for upgrade (#2329)
  mainnet-contracts/subsidies/Move.toml
  mainnet-contracts/wal/Move.toml
  mainnet-contracts/walrus/Move.lock
  mainnet-contracts/walrus/Move.toml
  mainnet-contracts/walrus/docs/msg_formats.txt
  mainnet-contracts/walrus/sources/display.move
  mainnet-contracts/walrus/sources/init.move
  mainnet-contracts/walrus/sources/staking.move
  mainnet-contracts/walrus/sources/staking/active_set.move
  mainnet-contracts/walrus/sources/staking/apportionment_queue.move
  mainnet-contracts/walrus/sources/staking/committee.move
  mainnet-contracts/walrus/sources/staking/staking_inner.move
  mainnet-contracts/walrus/sources/staking/staking_pool.move
  mainnet-contracts/walrus/sources/staking/storage_node.move
  mainnet-contracts/walrus/sources/system.move
  mainnet-contracts/walrus/sources/system/bls_aggregate.move
  mainnet-contracts/walrus/sources/system/event_blob.move
  mainnet-contracts/walrus/sources/system/events.move
  mainnet-contracts/walrus/sources/system/messages.move
  mainnet-contracts/walrus/sources/system/shared_blob.move
  mainnet-contracts/walrus/sources/system/storage_accounting.move
  mainnet-contracts/walrus/sources/system/storage_resource.move
  mainnet-contracts/walrus/sources/system/system_state_inner.move
  mainnet-contracts/walrus/tests/e2e_runner.move
  mainnet-contracts/walrus/tests/e2e_tests.move
  mainnet-contracts/walrus/tests/system/blob_tests.move
  mainnet-contracts/walrus/tests/system/deny_list_tests.move
  mainnet-contracts/walrus/tests/system/storage_resource_tests.move
  mainnet-contracts/walrus/tests/test_node.move
  mainnet-contracts/walrus/tests/test_utils.move
Due: taplo-format, move-test, mdBook

fix: use correct version in testnet-contracts (#2374)
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/sources/walrus_subsidies.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
Due: move-test, move-format

feat: Upgrade sui version to testnet-v1.52.1 (#2376)
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, move-test

feat: Move test_quorum_contract_upgrade test to simtest env (#2335)
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/system_setup.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add env based auth support for rpc clients (#2268)
  Cargo.lock
  Cargo.toml
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/fallible.rs
  crates/walrus-sui/src/client/rpc_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade subsidies, deploy walrus_subsidies (#2375)
  mainnet-contracts/subsidies/Move.lock
  mainnet-contracts/subsidies/sources/subsidies.move
  mainnet-contracts/subsidies/tests/subsidies_tests.move
  mainnet-contracts/walrus_subsidies/Move.lock
  mainnet-contracts/walrus_subsidies/Move.toml
  mainnet-contracts/walrus_subsidies/sources/epoch_balance.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  mainnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  mainnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test

chore: Make QuiltClientConfig part of ClientConfig. (#2378)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: cleanup database table options hierarchy (#2379)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Skip event blob attestation for non committee members (#2377)
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add H2O Nodes aggregator and publisher (#2383)
  docs/book/assets/operators.json
Due: mdBook

feat(backfill): implement archival blob backfill (#2175)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/communication/factory.rs
  crates/walrus-sdk/src/client/communication/node.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/backfill.rs
  crates/walrus-service/src/client/cli/runner.rs
  scripts/backfill.sh
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: revert wrong changes from #2300 over #2122 (#2385)
  crates/walrus-sdk/src/upload_relay/tip_config.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/params.rs
  crates/walrus-upload-relay/upload_relay_openapi.html
  crates/walrus-upload-relay/upload_relay_openapi.yaml
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(relay): add docs for the upload relay (#2345)
  docs/book/SUMMARY.md
  docs/book/operator-guide/upload-relay.md
  docs/book/setup/walrus_upload_relay_config_example.yaml
  docs/book/usage/client-cli.md
Due: mdBook

chore: add multisig for setting subsidy rates to workflow (#2388)
  .github/workflows/create-tx-for-multisig.yml
  scripts/create_multisig_tx.sh
Due: none

chore: remove simtest compilation warning (#2390)
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: clean up old subsidies in the client and docs (#2391)
  contracts/README.md
  crates/walrus-sdk/src/config.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/move_structs.rs
  docs/book/dev-guide/costs.md
  docs/book/usage/networks.md
  docs/book/usage/setup.md
  scripts/local-testbed.sh
  setup/client_config.yaml
  setup/client_config_mainnet.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, mdBook

fix(node): fix handling of invalid blobs and deletions with incomplete history (#2372)
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all Sui dependencies to `v1.53.1` (#2392)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/subsidies/tests/subsidies_tests.move
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/utils.rs
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

ci: Walrus `v1.31.0` Version Bump (#2394)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: Storage node backup restore (#2381)
  crates/walrus-service/bin/node.rs
  docs/book/SUMMARY.md
  docs/book/operator-guide/backup-restore-guide.md
  docs/book/operator-guide/storage-node.md
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, mdBook

fix: use sui 1.53.1 patch without simulated execution latency (#2398)
  scripts/simtest/cargo-simtest
Due: none

test: SingleClientWorkload (#2350)
  Cargo.lock
  Cargo.toml
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/Cargo.toml
  crates/walrus-stress/src/lib.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-stress/src/single_client_workload/blob_generator.rs
  crates/walrus-stress/src/single_client_workload/blob_pool.rs
  crates/walrus-stress/src/single_client_workload/client_op_generator.rs
  crates/walrus-stress/src/single_client_workload/epoch_length_generator.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_arg.rs
  crates/walrus-stress/src/single_client_workload/single_client_workload_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Removed unused function. (#2403)
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Track bloom filter performance using db statstics (#2389)
  crates/typed-store/src/metrics.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/tests.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add blob attributes when certifying blobs. (#2395)
  Cargo.lock
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/basic_encoding.rs
  crates/walrus-e2e-tests/Cargo.toml
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/single_client_workload.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: update operator lists and improve cache inference script (#2402)
  .editorconfig
  .licensesnipignore
  docs/book/assets/operators.json
  docs/book/usage/web-api.md
  scripts/cache-inference/README.md
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/eslint.config.mjs
  scripts/cache-inference/package-lock.json
  scripts/cache-inference/package.json
  scripts/cache-inference/tsconfig.json
  scripts/cache-inference/types.ts
Due: mdBook

ci: check if latest Sui version is used before creating a devnet release (#2401)
  .github/workflows/create-release-announce.yml
Due: none

fix: verify notes field (#2413)
  scripts/release_notes.py
Due: none

fix(deps): bump all Sui dependencies to `v1.53.2` (#2412)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  docker/walrus-antithesis/sui_version.toml
  scripts/simtest/cargo-simtest
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

fix: test_store_blob_with_random_attributes. (#2414)
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Update routing.md
  docs/book/walrus-sites/routing.md
Due: mdBook

Deploying to gh-pages from @ zktx-io/walrus@d2568480939a931c174a564a9b51b35266f50efc 🚀
  print.html
  searchindex.js
  searchindex.json
  walrus-sites/routing.html
Due: none

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
  mdBook: any of: book.toml|docs/.*
