Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

fix(node): reduce level of some logging events (#2067)
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/config_synchronizer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: check for clap deprecations (#2081)
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Infer whether aggregators inside mdbook assets support cache (#1903)
  .github/workflows/update-operators-cache.yml
  scripts/cache-inference/.gitignore
  scripts/cache-inference/README.md
  scripts/cache-inference/cache-inference.ts
  scripts/cache-inference/package-lock.json
  scripts/cache-inference/package.json
  scripts/cache-inference/tsconfig.json
  scripts/cache-inference/types.ts
Due: none

ci: automate release creation (#2087)
  .github/workflows/create-release-announce.yml
Due: none

chore: add MINARA aggregators (#2091)
  docs/book/assets/operators.json
Due: mdBook

chore: include extensions in gas benchmark (#2082)
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: keep wallet path in client config until `v1.26` is released (#2093)
  .github/workflows/pages-preview.yaml
  .github/workflows/publish-docs.yaml
  setup/client_config.yaml
Due: none

chore: add register_blob call to subsidies contract (#2053)
  contracts/subsidies/Move.lock
  contracts/subsidies/sources/subsidies.move
  contracts/subsidies/tests/subsidies_tests.move
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  contracts/walrus/sources/system.move
  crates/walrus-sui/src/contracts.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

ci: walrus release create and announce work (#2088)
  .github/workflows/create-release-announce.yml
  .github/workflows/trigger-artifacts-builds.yml
Due: none

fix: RPC node failure resistance improvement (#2083)
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-sui/src/client/retry_client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_error.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: normalize and improve doc comments across modules (#1844)
  contracts/subsidies/sources/subsidies.move
  contracts/wal/sources/wal.move
  contracts/walrus/sources/display.move
  contracts/walrus/sources/init.move
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/staking/active_set.move
  contracts/walrus/sources/staking/apportionment_queue.move
  contracts/walrus/sources/staking/staking_pool.move
  contracts/walrus/sources/staking/storage_node.move
  contracts/walrus/sources/system/bls_aggregate.move
  contracts/walrus/sources/system/event_blob.move
  contracts/walrus/sources/system/events.move
  contracts/walrus/sources/system/storage_accounting.move
  contracts/walrus/sources/system/storage_resource.move
  contracts/walrus/tests/system/blob_tests.move
  contracts/walrus/tests/test_utils.move
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-core/src/by_axis.rs
  crates/walrus-core/src/encoding/mapping.rs
  crates/walrus-core/src/keys.rs
  crates/walrus-core/src/lib.rs
  crates/walrus-core/src/merkle.rs
  crates/walrus-core/src/messages.rs
  crates/walrus-core/src/messages/certificate.rs
  crates/walrus-core/src/messages/proof_of_possession.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-orchestrator/src/measurements.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

fix(client): improve debug logging for store (#2096)
  crates/walrus-sdk/src/client/client_types.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt encoding part I (#1754)
  Cargo.lock
  Cargo.toml
  crates/walrus-core/Cargo.toml
  crates/walrus-core/src/encoding.rs
  crates/walrus-core/src/encoding/blob_encoding.rs
  crates/walrus-core/src/encoding/errors.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/metadata.rs
  crates/walrus-service/Cargo.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: skip fetching checkpoint from rpc nodes when encounter extended primary failures (#2090)
  Cargo.lock
  crates/checkpoint-downloader/Cargo.toml
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client/fallback_client.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade subsidies testnet contracts (#2100)
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/sources/subsidies.move
  testnet-contracts/subsidies/tests/subsidies_tests.move
Due: move-test

fix: Handle event processor bootstrap when latest checkpoint is unavailable (#2092)
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: add more tests for the blob info table (#2106)
  crates/walrus-service/src/node/storage/blob_info.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: temporarily rollback tempfile dependency version. (#2109)
  Cargo.lock
  Cargo.toml
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks/tests.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: Wallet wrapper to isolate network requests through retriable paths (#2052)
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client/cli.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/config.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/lib.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/src/wallet.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(aggregator): fail early for inexistent blobs (#2042)
  crates/walrus-sdk/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: avoid complex logic in select_coins_with_limit (#2113)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use config PRC endpoints when creating SuiContractClient from wallet (#2110)
  crates/walrus-service/src/common/config.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: simplify select_coins_with_limit (#2116)
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: remove old workflow (#2118)
  .github/workflows/create-release.yml
Due: none

feat: storage node enters recovery when lagging behind during operation (#2107)
  crates/walrus-sdk/src/active_committees.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: enable monitored scope (#2119)
  Cargo.lock
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_retirement_notifier.rs
  crates/walrus-service/src/node/consistency_check.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/monitored_scope.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add options to update compaction write throttling, and set high write stalling threshold in metadata table (#2120)
  crates/walrus-service/src/node/storage/database_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: fix getting release announce (#2123)
  .github/workflows/create-release-announce.yml
Due: none

ci: Walrus v1.27.0 Version Bump (#2124)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(deps): bump all Sui dependencies to `testnet-v1.49.1` (#2115)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  crates/walrus-sui/src/config.rs
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

ci: remove release branch builds trigger (#2127)
  .github/workflows/trigger-artifacts-builds.yml
Due: none

docs: Update http api example (#2094)
  book.toml
  docs/book/usage/web-api.md
Due: taplo-format, mdBook

chore: add walrus CLI binary to stress docker image (#2130)
  docker/walrus-stress/Dockerfile
Due: none

chore: add simtest config option in vscode setting (#2125)
  .vscode/settings.json
Due: none

chore: add tx builder command to pay sui (#2133)
  crates/walrus-sui/src/client/transaction_builder.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: instrument event stream polling with tokio metrics (#2129)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: bump Rust version to 1.87 and reduce size of some types (#2135)
  contracts/subsidies/Move.lock
  contracts/wal/Move.lock
  contracts/wal_exchange/Move.lock
  contracts/walrus/Move.lock
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/committee/test_committee_service.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/config.rs
  crates/walrus-sui/src/test_utils.rs
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
  docker/walrus-orchestrator/Dockerfile
  docker/walrus-proxy/Dockerfile
  docker/walrus-service/Dockerfile
  docker/walrus-service/Dockerfile.walrus-backup
  docker/walrus-stress/Dockerfile
  rust-toolchain.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

chore: enable walrus-sdk to be linked by reference in external tools (#2128)
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/utils.rs
  crates/walrus-sui/Cargo.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: remove vscode settings because they conflict across editors (#2141)
  .gitignore
  .vscode/settings.json
Due: none

feat: enable buying storage resources for future epochs (#2111)
  contracts/walrus/sources/system.move
  contracts/walrus/sources/system/system_state_inner.move
  contracts/walrus/tests/system/storage_resource_tests.move
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format
