Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

fix: run rust tests in CI if testnet-contracts change (#2315)
  .github/workflows/code.yml
Due: none

chore: update subsidies in testnet-contracts after upgrade (#2316)
  setup/client_config.yaml
  setup/client_config_testnet.yaml
  testnet-contracts/subsidies/sources/subsidies.move
  testnet-contracts/walrus_subsidies/Move.lock
  testnet-contracts/walrus_subsidies/Move.toml
  testnet-contracts/walrus_subsidies/sources/epoch_balance.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies.move
  testnet-contracts/walrus_subsidies/sources/walrus_subsidies_inner.move
  testnet-contracts/walrus_subsidies/tests/walrus_subsidies_tests.move
Due: taplo-format, move-test

ci: ensure WFs involving Sui transactions are not concurrent (#2308)
  .github/workflows/publish-docs.yaml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/update-ws-install.yaml
Due: none

fix: [1] epoch sync done should check latest epoch [2] bypassing consistency check if node is reprocessing events (#2314)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use original package ID to filter events (#2318)
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add notes about kill_current_node (#2317)
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Quilt publisher (#2279)
  Cargo.lock
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-sdk/src/client/client_types.rs
  crates/walrus-sdk/src/client/responses.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/cache.rs
  crates/walrus-service/src/client/daemon/openapi.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/client/multiplexer.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: chmod +x upload relay build.sh (#2324)
  docker/walrus-upload-relay/build.sh
Due: none

fix: set initial `latest_event_epoch` if first event is epoch change (#2326)
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: extend the backup lifetime of archived blobs (#2332)
  crates/walrus-service/src/backup/garbage_collector.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: allow request without tags fields (#2330)
  crates/walrus-service/src/client/daemon/routes.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: stop the test when node exits with an error in simtest (#2333)
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(client): bug in 404 computation (#2339)
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(sdk): reduce verbosity of some log entries (#2337)
  crates/walrus-sdk/src/client/refresh.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: retry reading first event blob when encounter non-exist error (#2334)
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: added web apis for quilt and other improvements. (#2325)
  docs/book/dev-guide/costs.md
  docs/book/usage/client-cli.md
  docs/book/usage/quilt.md
  docs/book/usage/web-api.md
Due: mdBook

fix(deps): bump all Sui dependencies to `testnet-v1.52.1` (#2336)
  .github/workflows/code.yml
  .github/workflows/scheduled_reports.yml
  .github/workflows/updates.yml
  Cargo.lock
  Cargo.toml
  contracts/subsidies/Move.lock
  contracts/subsidies/Move.toml
  contracts/wal/Move.lock
  contracts/wal/Move.toml
  contracts/wal_exchange/Move.lock
  contracts/wal_exchange/Move.toml
  contracts/walrus/Move.lock
  contracts/walrus/Move.toml
  contracts/walrus_subsidies/Move.lock
  contracts/walrus_subsidies/Move.toml
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-sui/src/client/retry_client.rs
  deny.toml
  docker/walrus-antithesis/sui_version.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test

docs: emphasize that the end epoch is exclusive (#2338)
  docs/book/blog/04_testnet_update.md
  docs/book/glossary.md
  docs/book/usage/client-cli.md
Due: mdBook

refactor: use let chains where applicable (#2342)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-orchestrator/src/client/aws.rs
  crates/walrus-orchestrator/src/orchestrator.rs
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/src/client/daemon/auth.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-storage-node-client/src/client/middleware.rs
  crates/walrus-upload-relay/src/tip/check.rs
  crates/walrus-utils/src/backoff.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(relay): add docs for the upload relay (#2343)
  docs/book/SUMMARY.md
  docs/book/operator-guide/upload-relay.md
  docs/book/usage/client-cli.md
Due: mdBook

chore: revert "docs(relay): add docs for the upload relay" (#2344)
  docs/book/SUMMARY.md
  docs/book/operator-guide/upload-relay.md
  docs/book/usage/client-cli.md
Due: mdBook

chore: cleanup reading event blob codepath (#2341)
  crates/walrus-service/src/event/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: schedule call to process subsidies (#2328)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/start_epoch_change_finisher.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/move_structs.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): cancel blob syncs for expired blobs (#2302)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Walrus version bump v1.30.0 (#2347)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: count ClientErrorKind::NoMetadataReceived as blob not exist when reading event blob (#2348)
  crates/walrus-sdk/src/error.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: antithesis include walrus_subsidies package (#2349)
  docker/walrus-antithesis/build-walrus-image-for-antithesis/update_move_toml.sh
Due: none

chore: Improve quilt test (#2340)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-core/src/test_utils.rs
  crates/walrus-test-utils/src/lib.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add Algolia site verification (#2351)
  docs/theme/head.hbs
Due: mdBook

fix: ensure sufficient time in the subsidies test to trigger subsidies (#2357)
  crates/walrus-e2e-tests/tests/test_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): mark events completed when cancelling sync for expired blobs (#2354)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: populate n_shards in TestCluster e2e test correctly (#2358)
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: add upload relay to walrus to `walrus store` and `walrus store-quilt` (#2300)
  Cargo.lock
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-sdk/src/client/store_args.rs
  crates/walrus-sdk/src/client/upload_relay_client.rs
  crates/walrus-sdk/src/error.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sdk/src/upload_relay.rs
  crates/walrus-sdk/src/upload_relay/params.rs
  crates/walrus-sdk/src/upload_relay/tip_config.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/tip.rs
  crates/walrus-upload-relay/src/tip/check.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/upload_relay_openapi.html
  crates/walrus-upload-relay/upload_relay_openapi.yaml
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
  scripts/merge_sui_coins.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: reduce excessive logs around cancelling blob syncs (#2365)
  crates/walrus-service/src/node/blob_sync.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: updated quilt docs. (#2362)
  docs/book/operator-guide/aggregator.md
  docs/book/usage/quilt.md
Due: mdBook

chore: specify commit to release and announce (#2361)
  .github/workflows/create-release-announce.yml
Due: none

ci: fix GCP bucket name (#2367)
  .github/workflows/attach-binaries-to-release.yml
Due: none

ci: fix GCP bucket name for upload (#2368)
  .github/workflows/attach-binaries-to-release.yml
Due: none

fix(node): handle updated TLS certificates more gracefully (#2360)
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/config_synchronizer.rs
  crates/walrus-service/src/node/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: remove outdated warnings about Testnet v3 (#2371)
  docs/book/usage/networks.md
  docs/book/usage/setup.md
Due: mdBook
