Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-merge-conflict
      - id: check-yaml
      - id: check-symlinks
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: trailing-whitespace
  - repo: https://github.com/editorconfig-checker/editorconfig-checker.python
    rev: "3.2.1"
    hooks:
      - id: editorconfig-checker
        alias: ec
  - repo: https://github.com/google/yamlfmt
    rev: v0.15.0
    hooks:
      - id: yamlfmt
  - repo: https://github.com/notken12/licensesnip
    rev: f01f898
    hooks:
      - id: licensesnip
        args: []
        pass_filenames: false
  - repo: https://github.com/crate-ci/typos
    rev: v1.31.1
    hooks:
      - id: typos
        pass_filenames: false
  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.17.2
    hooks:
      - id: markdownlint-cli2
        args: ["--fix"]
        pass_filenames: false
  - repo: https://github.com/EmbarkStudios/cargo-deny
    rev: 0.18.2
    hooks:
      - id: cargo-deny
  - repo: local
    hooks:
      - id: taplo-format
        alias: taplo
        name: taplo-format
        description: Format TOML documents
        entry: taplo format
        language: python
        types: [toml]
        args: []
        additional_dependencies: ["taplo==0.9.3"]
      - id: shellcheck
        args: ["--severity=error"]
        name: shellcheck
        description: Test shell scripts with shellcheck
        entry: shellcheck
        # Note that this relies on https://github.com/shellcheck-py/shellcheck-py.
        language: python
        types: [shell]
        require_serial: true # shellcheck can detect sourcing this way
        additional_dependencies: ["shellcheck-py==0.10.0.1"]
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        args:
          - "--"
          - "--config"
          - "group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical"
        language: rust
        types: [rust]
        pass_filenames: false
      - id: cargo-test
        name: cargo-test
        entry: cargo nextest run
        language: rust
        files: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
        pass_filenames: false
      - id: clippy-with-tests
        name: clippy-with-tests
        entry: cargo clippy
        args: ["--all-features", "--tests", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: clippy
        name: clippy
        entry: cargo clippy
        args: ["--all-features", "--", "-D", "warnings"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: cargo-doc
        name: cargo-doc
        entry: env RUSTDOCFLAGS="-D warnings" cargo doc
        args: ["--workspace", "--no-deps"]
        language: rust
        files: ^(crates/|Cargo\.(toml|lock)$)
        pass_filenames: false
      - id: move-test
        name: move-test
        entry: scripts/move_coverage.sh
        args: ["-t"]
        language: system
        files: "contracts/.*"
        pass_filenames: false
      - id: move-format
        name: move-format
        entry: prettier-move -w
        language: node
        additional_dependencies:
          - "prettier@3.4.1"
          - "@mysten/prettier-plugin-move@0.3.0"
        files: "^contracts/.*\\.move"
      - id: mdBook
        name: Build docs if mdBook is installed
        language: system
        entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
        files: 'book.toml|docs/.*'
        pass_filenames: false

fix: save and reuse metrics instead of adding a unique ID (#1904)
  Cargo.lock
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/metrics.rs
  crates/walrus-sdk/src/client/builder.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/communication/factory.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/metrics.rs
  crates/walrus-service/src/client/multiplexer.rs
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/committee/committee_service.rs
  crates/walrus-service/src/node/committee/node_service.rs
  crates/walrus-service/src/node/contract_service.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/node/recovery_symbol_service.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/thread_pool.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/tokio.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: simplify wording for gas errors (#1906)
  crates/walrus-service/src/client/error.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Limit fallback for NotFound checkpoint errors (#1909)
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: stress client wallets setup in antithesis (#1897)
  crates/walrus-sui/src/utils.rs
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Fix the checkpoint height computation (#1911)
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: ignore checkpoint sequence number when no rpc url is provided (#1915)
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: use EventManagerApi trait to access the functions. (#1917)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: explicitly cast dyn EventManager to EventProcessor ref (#1918)
  crates/walrus-service/src/node/storage/shard.rs
  crates/walrus-service/src/node/system_events.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: allow single-node local testbeds (#1893)
  crates/walrus-service/bin/deploy.rs
  scripts/local-testbed.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: reduce blocking on tokio core threads (#1894)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/server.rs
  crates/walrus-service/src/node/server/routes.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: support removing labels in walrus-proxy (#1910)
  crates/walrus-proxy/src/admin.rs
  crates/walrus-proxy/src/config.rs
  crates/walrus-proxy/src/consumer.rs
  crates/walrus-proxy/src/handlers.rs
  crates/walrus-proxy/src/main.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Switch to a new ubuntu-ghcloud-2 runner
  .github/workflows/attach-binaries-to-release.yml
  .github/workflows/code.yml
  .github/workflows/publish-docs.yaml
  .github/workflows/scheduled_reports.yml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/updates.yml
Due: none

fix: Installing openssl for builds (#1927)
  .github/workflows/code.yml
Due: none

ci: Revert to the original runner (#1928)
  .github/workflows/attach-binaries-to-release.yml
  .github/workflows/code.yml
  .github/workflows/publish-docs.yaml
  .github/workflows/scheduled_reports.yml
  .github/workflows/update-ws-binaries.yaml
  .github/workflows/updates.yml
Due: none

ci: fix build (#1930)
  .github/workflows/code.yml
Due: none

feat: Modify orchestrator to deploy clients (#1811)
  .gitignore
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-orchestrator/Cargo.toml
  crates/walrus-orchestrator/assets/dashboard-template.json
  crates/walrus-orchestrator/src/benchmark.rs
  crates/walrus-orchestrator/src/client.rs
  crates/walrus-orchestrator/src/client/aws.rs
  crates/walrus-orchestrator/src/logs.rs
  crates/walrus-orchestrator/src/main.rs
  crates/walrus-orchestrator/src/measurements.rs
  crates/walrus-orchestrator/src/monitor.rs
  crates/walrus-orchestrator/src/orchestrator.rs
  crates/walrus-orchestrator/src/protocol.rs
  crates/walrus-orchestrator/src/protocol/target.rs
  crates/walrus-orchestrator/src/settings.rs
  crates/walrus-orchestrator/src/ssh.rs
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/metrics.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-stress/src/generator.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-stress/src/main.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): adjust default params for shard sync (#1934)
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/node/config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add doctests to CI and pre-commit (#1935)
  .github/workflows/code.yml
  .pre-commit-config.yaml
  crates/walrus-service/src/node/events/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: shard transfer resets timer for switching to recovery after it makes progress (#1919)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/shard_sync.rs
  crates/walrus-service/src/node/storage/shard.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: Refactored blob store operation (#1828)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client.rs
  crates/walrus-service/src/client/cli/cli_output.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/client_types.rs
  crates/walrus-service/src/client/error.rs
  crates/walrus-service/src/client/resource.rs
  crates/walrus-service/src/client/responses.rs
  crates/walrus-service/src/node/metrics.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: histogram bucket def (#1939)
  crates/walrus-service/src/client/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add db tool command to print init state (#1937)
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Pass db config settings to event processor and blob writer dbs (#1913)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/events/event_blob_writer.rs
  crates/walrus-service/src/node/events/event_processor.rs
  crates/walrus-service/src/node/events/event_processor_runtime.rs
  crates/walrus-service/src/node/storage/database_config.rs
  crates/walrus-service/src/test_utils.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: Organize event processor constants in a mod (#1940)
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/events/event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: extend SDKs page (#1942)
  docs/book/usage/sdks.md
Due: mdBook

fix: stop fetching pages from the coin api (#1947)
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cli): replace deprecated `clap` attributes with `command` or `arg` (#1945)
  crates/walrus-orchestrator/src/main.rs
  crates/walrus-proxy/src/main.rs
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/bin/client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/daemon/cache.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client/rpc_config.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: add info on epoch duration and overview over network parameters (#1950)
  docs/book/design/architecture.md
  docs/book/glossary.md
  docs/book/usage/client-cli.md
  docs/book/usage/networks.md
Due: mdBook

fix: Use event id for checkpoint events when repositioning event cursor (#1938)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): curl request and s-b publish number of epochs (#1954)
  docs/book/SUMMARY.md
  docs/book/walrus-sites/routing.md
  docs/book/walrus-sites/tutorial-install.md
  docs/book/walrus-sites/tutorial-publish.md
Due: mdBook

docs: add whitepaper v2 (#1956)
  docs/book/walrus.pdf
  docs/book/walrus_whitepaper_v1.pdf
  docs/book/walrus_whitepaper_v2.pdf
Due: mdBook

fix(deploy): correctly adjust keyfile paths (#1957)
  crates/walrus-service/src/testbed.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: simtest seed-search script that can search multiple seeds in parallel without re-compiling the test target each time. (#1952)
  .editorconfig
  scripts/simtest/seed-search.py
Due: none

fix: certified blob recovery should only recover the shard that is assigned to the node in the epoch that the blob is certified (#1932)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

ci: Walrus v1.22.0 version bump (#1961)
  Cargo.lock
  Cargo.toml
Due: taplo-format, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: add CORS headers to server endponints (#1953)
  Cargo.toml
  crates/walrus-service/src/client/daemon.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-service/src/node/server.rs
  deny.toml
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Improve rpc retry logic (#1963)
  crates/walrus-sui/src/client/retry_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc
