Repository zktx-io/walrus: changes, and which pre-commit hooks are due for each by the changed paths.
All: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format, mdBook

taplo-format:
  alias: taplo
  name: taplo-format
  description: Format TOML documents
  entry: taplo format
  language: python
  args: []
  additional_dependencies:
  - taplo==0.9.3

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  args:
  - --
  - --config
  - group_imports=StdExternalCrate,imports_granularity=Crate,imports_layout=HorizontalVertical
  language: rust
  pass_filenames: false

cargo-test:
  name: cargo-test
  entry: cargo nextest run
  language: rust
  pass_filenames: false

clippy-with-tests:
  name: clippy-with-tests
  entry: cargo clippy
  args:
  - --all-features
  - --tests
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

clippy:
  name: clippy
  entry: cargo clippy
  args:
  - --all-features
  - --
  - -D
  - warnings
  language: rust
  pass_filenames: false

cargo-doc:
  name: cargo-doc
  entry: env RUSTDOCFLAGS="-D warnings" cargo doc
  args:
  - --workspace
  - --no-deps
  language: rust
  pass_filenames: false

move-test:
  name: move-test
  entry: scripts/move_coverage.sh
  args:
  - -t
  language: system
  pass_filenames: false

move-format:
  name: move-format
  entry: prettier-move -w
  language: node
  additional_dependencies:
  - prettier@3.4.1
  - '@mysten/prettier-plugin-move@0.3.0'

mdBook:
  name: Build docs if mdBook is installed
  language: system
  entry: bash -c 'which mdbook && mdbook build || ! which mdbook >> /dev/null'
  pass_filenames: false

feat: export the tls certificate expiration time as a metric (#2239)
  Cargo.lock
  crates/walrus-service/Cargo.toml
  crates/walrus-service/src/common/telemetry.rs
  crates/walrus-service/src/node/server.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: some cleanup in integration test (#2263)
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: turn on client debug logging in antithesis test (#2267)
  docker/walrus-antithesis/build-test-config-image/files/deploy-walrus.sh
  docker/walrus-antithesis/build-test-config-image/files/run-staking.sh
  docker/walrus-antithesis/build-test-config-image/files/run-stress.sh
  docker/walrus-antithesis/build-test-config-image/files/run-walrus.sh
Due: none

chore: antithesis image should use public image (#2270)
  docker/walrus-antithesis/build-test-config-image/Dockerfile
Due: none

chore: antithesis image should use public image (#2271)
  docker/walrus-antithesis/build-test-config-image/Dockerfile
  docker/walrus-antithesis/build-walrus-image-for-antithesis/Dockerfile
Due: none

test: add test coverage for event index consistency check (#2259)
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/checkpoint.rs
  crates/walrus-service/src/event/event_processor/db.rs
  crates/walrus-service/src/event/event_processor/metrics.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: use subsidies contract to proxy register blob call (#2151)
  crates/walrus-sdk/src/lib.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/utils.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: test_event_blob_local_fork_recovery timeout (#2278)
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-sui/src/client/retry_client/failover.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(dbtool): fix drop column family command (#2265)
  crates/walrus-service/src/node/dbtool.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: canonicalize log entries (#2276)
  crates/checkpoint-downloader/src/downloader.rs
  crates/typed-store/src/rocks.rs
  crates/typed-store/src/rocks/safe_iter.rs
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/provider.rs
  crates/walrus-sdk/src/blocklist.rs
  crates/walrus-sdk/src/client.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
  crates/walrus-service/src/node/dbtool.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-stress/src/main.rs
  crates/walrus-sui/src/client/retry_client/download_handler.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(openapi): trim whitespace in descriptions (#2282)
  crates/walrus-proc-macros/src/derive_api_errors.rs
  crates/walrus-service/aggregator_openapi.html
  crates/walrus-service/aggregator_openapi.yaml
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/storage_openapi.html
  crates/walrus-service/storage_openapi.yaml
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): fix continuing event stream from init state (#2273)
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/events.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/system_events.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): enable node starting with incomplete event history (#2193)
  Cargo.lock
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-service/src/event/event_blob.rs
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/event/events.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/epoch_change_driver.rs
  crates/walrus-service/src/node/storage.rs
  crates/walrus-service/src/node/storage/blob_info.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-simtest/Cargo.toml
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-simtest/tests/simtest_param_sync.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/events.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: Update last certified event blob index upon startup (#2266)
  crates/walrus-service/src/node/event_blob_writer.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: move test_checkpoint_downloader_with_additional_fullnodes to simtest_failure test target (#2280)
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest_event_blob.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: better return error types (#2284)
  crates/walrus-sdk/src/client/quilt_client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: Quilt cli improvements (#2261)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix: retry reading first event blob when catching up (#2285)
  crates/walrus-service/src/event/event_blob_downloader.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

refactor: rename subsidies to credits, simplify code (#2275)
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-proxy/src/providers/walrus/query.rs
  crates/walrus-sdk/client_config_example.yaml
  crates/walrus-sdk/src/config.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/src/node/config.rs
  crates/walrus-service/src/test_utils.rs
  crates/walrus-service/src/testbed.rs
  crates/walrus-sui/benches/gas_cost_bench.rs
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/contract_config.rs
  crates/walrus-sui/src/client/read_client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/contracts.rs
  crates/walrus-sui/src/system_setup.rs
  crates/walrus-sui/src/test_utils/system_setup.rs
  crates/walrus-sui/src/types/move_structs.rs
  crates/walrus-sui/tests/test_walrus_sui.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(client): add `permanent` flag to CLI and publisher (#2281)
  crates/walrus-service/daemon_openapi.html
  crates/walrus-service/daemon_openapi.yaml
  crates/walrus-service/publisher_openapi.html
  crates/walrus-service/publisher_openapi.yaml
  crates/walrus-service/src/client/cli/args.rs
  crates/walrus-service/src/client/cli/runner.rs
  crates/walrus-service/src/client/daemon/routes.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-sui/src/client.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: Add Quilt patch identifier rules (#2286)
  crates/walrus-core/src/encoding/quilt_encoding.rs
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/src/client/quilt_client.rs
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(cli): Avoid unnecessary sui_read_client initialization in blob_id command (#2293)
  crates/walrus-service/src/client/cli/runner.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: make wallet path optional in config file (#2283)
  setup/client_config.yaml
Due: none

fix: monitor scope preserve scope (#2295)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: move version macro to a more common crate (#2246)
  Cargo.lock
  Cargo.toml
  crates/walrus-core/src/utils.rs
  crates/walrus-proxy/Cargo.toml
  crates/walrus-proxy/src/lib.rs
  crates/walrus-proxy/src/main.rs
  crates/walrus-service/Cargo.toml
  crates/walrus-service/bin/backup.rs
  crates/walrus-service/bin/client.rs
  crates/walrus-service/bin/deploy.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/backup.rs
  crates/walrus-service/src/backup/garbage_collector.rs
  crates/walrus-service/src/backup/service.rs
  crates/walrus-service/src/common/utils.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: add `must_use` attribute to guard structs (#2298)
  crates/walrus-sui/src/client/retry_client/retry_count_guard.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/monitored_scope.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

fix(node): correctly update event cursor at with incomplete history (#2294)
  crates/walrus-service/src/node.rs
  crates/walrus-simtest/tests/simtest.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs(walrus-sites): Documents site builder deploy gh-action (#2264)
  docs/book/SUMMARY.md
  docs/book/walrus-sites/ci-cd-gh-secrets-vars.md
  docs/book/walrus-sites/ci-cd-gh-workflow.md
  docs/book/walrus-sites/ci-cd.md
Due: mdBook

chore: sending checkpoint to download checking if the channel is full (#2296)
  crates/checkpoint-downloader/src/config.rs
  crates/checkpoint-downloader/src/downloader.rs
  crates/checkpoint-downloader/src/metrics.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: move Restore command out of LocalAdmin. (#2297)
  crates/walrus-service/bin/node.rs
  crates/walrus-service/src/node/db_checkpoint.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat(node): configurable sampled tracing interval with increased default (#2290)
  crates/checkpoint-downloader/src/downloader.rs
  crates/walrus-service/bin/node.rs
  crates/walrus-service/node_config_example.yaml
  crates/walrus-service/src/event/event_processor/client.rs
  crates/walrus-service/src/event/event_processor/config.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node/event_blob_writer.rs
  crates/walrus-sui/src/client/retry_client/retriable_rpc_client.rs
  crates/walrus-utils/Cargo.toml
  crates/walrus-utils/src/lib.rs
  crates/walrus-utils/src/metrics.rs
  crates/walrus-utils/src/metrics/monitored_scope.rs
  crates/walrus-utils/src/tracing_sampled.rs
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

test: ignore long-running-test by default (#2303)
  crates/walrus-sui/src/client/retry_client/download_handler.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

docs: improve installation instructions (#2299)
  .github/workflows/update-ws-install.yaml
  docs/book/usage/setup.md
Due: mdBook

docs: Quilt docs (#2272)
  docs/book/SUMMARY.md
  docs/book/dev-guide/costs.md
  docs/book/glossary.md
  docs/book/usage/client-cli.md
  docs/book/usage/quilt.md
Due: mdBook

ci: fix quotes in update-ws-install.yaml (#2305)
  .github/workflows/update-ws-install.yaml
Due: none

feat: continue node recovery upon restart if the recovery takes longer than 1 epoch to finish (#2291)
  crates/walrus-service/src/node.rs
  crates/walrus-service/src/node/blob_event_processor.rs
  crates/walrus-service/src/node/blob_sync.rs
  crates/walrus-service/src/node/node_recovery.rs
  crates/walrus-simtest/src/test_utils.rs
  crates/walrus-simtest/tests/simtest.rs
  crates/walrus-simtest/tests/simtest_failure.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

chore: upgrade walrus testnet contracts (#2287)
  testnet-contracts/subsidies/Move.lock
  testnet-contracts/subsidies/Move.toml
  testnet-contracts/wal/Move.lock
  testnet-contracts/wal/Move.toml
  testnet-contracts/wal_exchange/Move.lock
  testnet-contracts/wal_exchange/Move.toml
  testnet-contracts/walrus/Move.lock
  testnet-contracts/walrus/Move.toml
  testnet-contracts/walrus/docs/msg_formats.txt
  testnet-contracts/walrus/sources/display.move
  testnet-contracts/walrus/sources/init.move
  testnet-contracts/walrus/sources/staking.move
  testnet-contracts/walrus/sources/staking/active_set.move
  testnet-contracts/walrus/sources/staking/apportionment_queue.move
  testnet-contracts/walrus/sources/staking/committee.move
  testnet-contracts/walrus/sources/staking/staking_inner.move
  testnet-contracts/walrus/sources/staking/staking_pool.move
  testnet-contracts/walrus/sources/staking/storage_node.move
  testnet-contracts/walrus/sources/system.move
  testnet-contracts/walrus/sources/system/bls_aggregate.move
  testnet-contracts/walrus/sources/system/event_blob.move
  testnet-contracts/walrus/sources/system/events.move
  testnet-contracts/walrus/sources/system/messages.move
  testnet-contracts/walrus/sources/system/shared_blob.move
  testnet-contracts/walrus/sources/system/storage_accounting.move
  testnet-contracts/walrus/sources/system/storage_resource.move
  testnet-contracts/walrus/sources/system/system_state_inner.move
  testnet-contracts/walrus/tests/e2e_runner.move
  testnet-contracts/walrus/tests/e2e_tests.move
  testnet-contracts/walrus/tests/staking/staking_inner_tests.move
  testnet-contracts/walrus/tests/system/blob_tests.move
  testnet-contracts/walrus/tests/system/deny_list_tests.move
  testnet-contracts/walrus/tests/system/storage_resource_tests.move
  testnet-contracts/walrus/tests/test_node.move
  testnet-contracts/walrus/tests/test_utils.move
Due: taplo-format, move-test, mdBook

chore: update devnet and testnet to use v2 faucet (#2309)
  crates/walrus-sui/src/utils.rs
  scripts/crash_recovery.sh
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

feat: introduction of walrus upload relay (#2122)
  .editorconfig
  .github/actions/diffs/action.yml
  .licensesnipignore
  .pre-commit-config.yaml
  .yamlfmt.yml
  Cargo.lock
  Cargo.toml
  binary-build-list.json
  contracts/walrus/sources/staking.move
  contracts/walrus/sources/system.move
  crates/walrus-e2e-tests/tests/test_client.rs
  crates/walrus-sdk/Cargo.toml
  crates/walrus-sdk/src/client.rs
  crates/walrus-sdk/src/lib.rs
  crates/walrus-simtest/tests/simtest_failure.rs
  crates/walrus-stress/src/generator/write_client.rs
  crates/walrus-sui/Cargo.toml
  crates/walrus-sui/src/client.rs
  crates/walrus-sui/src/client/retry_client/retriable_sui_client.rs
  crates/walrus-sui/src/client/transaction_builder.rs
  crates/walrus-sui/src/types/events.rs
  crates/walrus-upload-relay/Cargo.toml
  crates/walrus-upload-relay/README.md
  crates/walrus-upload-relay/src/controller.rs
  crates/walrus-upload-relay/src/error.rs
  crates/walrus-upload-relay/src/main.rs
  crates/walrus-upload-relay/src/metrics.rs
  crates/walrus-upload-relay/src/params.rs
  crates/walrus-upload-relay/src/shared.rs
  crates/walrus-upload-relay/src/tip.rs
  crates/walrus-upload-relay/src/tip/check.rs
  crates/walrus-upload-relay/src/tip/config.rs
  crates/walrus-upload-relay/src/tip/error.rs
  crates/walrus-upload-relay/src/utils.rs
  crates/walrus-upload-relay/upload_relay_openapi.html
  crates/walrus-upload-relay/upload_relay_openapi.yaml
  crates/walrus-upload-relay/walrus_upload_relay_config_example.yaml
  docker/walrus-upload-relay/Dockerfile
  docker/walrus-upload-relay/build.sh
  scripts/merge_sui_coins.py
Due: taplo-format, cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc, move-test, move-format

chore: adding some logs around cursor initialization (#2310)
  crates/walrus-service/src/event/event_blob_downloader.rs
  crates/walrus-service/src/event/event_processor/catchup.rs
  crates/walrus-service/src/event/event_processor/processor.rs
  crates/walrus-service/src/node.rs
Due: cargo-fmt, cargo-test, clippy-with-tests, clippy, cargo-doc

Path conditions:
  taplo-format: any of: \.toml$
  cargo-fmt: any of: \.rs$
  cargo-test: any of: (^crates/|Cargo\.(toml|lock)$|nextest\.toml$)
  clippy-with-tests: any of: ^(crates/|Cargo\.(toml|lock)$)
  clippy: any of: ^(crates/|Cargo\.(toml|lock)$)
  cargo-doc: any of: ^(crates/|Cargo\.(toml|lock)$)
  move-test: any of: contracts/.*
  move-format: any of: ^contracts/.*\.move
  mdBook: any of: book.toml|docs/.*
